<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <!-- Muestra las peliculas de la base de datos -->
    <h1>Películas</h1>
    <ul>
        {% for pelicula in peliculas %}
            <li>
                <strong>Título:</strong> {{ pelicula.titulo }}<br>
                <strong>Director:</strong> {{ pelicula.director }}<br>
                <a href="{% url 'pelicula' pelicula.id %}">Ver detalles de la película</a>
            </li>
        {% endfor %}


    <br><br>
    <!-- logout -->
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button  id="logout" type="submit">Cerrar sesión</button>
    </form>

    <!-- search -->
    <form method="get" action="{% url 'buscar' %}">
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Buscar películas por título o director">
        <button type="submit">Buscar</button>
    </form>

    <!-- add -->
    

    
    

</body>
</html>