<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelicula</title>
</head>
<body>
    <h1>Película</h1>

    <ul>

        <li>
            <strong>Título:</strong> {{ pelicula.titulo }}<br>
            <strong>Director:</strong> {{ pelicula.director }}<br>
        </li>

    </ul>

    <br><br>

    <!-- home -->
    <a href="{% url 'home' %}">Volver al inicio</a>

    <!-- leave a comment -->
    <form method="post" action="{% url 'comentar' pelicula.id %}">
        {% csrf_token %}
        <textarea name="comentario" cols="30" rows="5" placeholder="Deja un comentario"></textarea>
        <button type="submit">Comentar</button>

    </form>

    <!-- show comments -->
    <h2>Comentarios</h2>

    <ul>
        {% for comentario in comentarios %}
            <li>
                {{ comentario.usuario }}:<br>
                {{ comentario.texto }}<br>
                {{ comentario.fecha }}<br>
                {% if comentario.usuario == request.user.usuario %}
                    <form method="post" action="{% url 'eliminar_comentario' comentario.id %}">
                        {% csrf_token %}
                        <button type="submit">Eliminar</button>
                    </form>

                    <br>

                    <form method="post" action="{% url 'editar_comentario' comentario.id %}">
                        {% csrf_token %}
                        <button type="submit">Editar</button>
                    </form>
                {% endif %}
                
            </li>
        {% empty %}
            <p>Aún no hay comentarios para esta película.</p>
        {% endfor %}

        {% if comentario_editar %}
            <h3>Editar Comentario</h3>
            {% include 'editar_comentario.html' %}
        {% endif %}

        <!-- eliminar pelicula -->
        {% if pelicula.usuario == request.user.usuario %}
            <form method="post" action="{% url 'eliminar_pelicula' pelicula.id %}">
                {% csrf_token %}
                <button type="submit">Eliminar película</button>
            </form>
        {% endif %}
    

</body>
</html>